body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Apple Color Emoji',
    'Segoe UI Emoji';
}
nav a {
  color: #fff;
  text-decoration: none;
}
input,
button,
select {
  font: inherit;
}
